<div class="flex_contener">
  <div class="header_content">
  <p>カレーマップ<p>
  <input type="search" id="site-search" name="q" />
  <button>Search</button>
  <p><a href="#">お気に入り一覧</a></p>
    <%= image_tag "human_icon.png" %>
  </div>

  <div class="contener">
    <%= image_tag "top_img1.png" %>
    
  </div>

  <div class="footer_content">
    <div class="footer_content_item">
      <div><a href="#">お問い合わせ</a></div>
      <div><a href="#">利用規約</a></div>
      <div><a href="#">プライバシーポリシー</a></div>
    </div>
  </div>
</div>