<div class="flex_contener">
  <div class="header_content">
  <p>カレーマップ<p>
    <div>
      <p class="mr-24"><a href="#">新規登録</a></p>
      <p><a href="#">ログイン</a></p>
    </div>
  </div>

  <div class="contener">
    <%= image_tag "top_img1.png" %>
    
  </div>

  <div class="footer_content">
    <div class="footer_content_item">
      <div><a href="#">お問い合わせ</a></div>
      <div><a href="#">利用規約</a></div>
      <div><a href="#">プライバシーポリシー</a></div>
    </div>
  </div>
</div>