<footer id='footer' class='footer-bottom'>
<div class="footer_content">
<div class="footer_content_item">
  <div><a href="#">お問い合わせ</a></div>
  <div><a href="#">利用規約</a></div>
  <div><a href="#">プライバシーポリシー</a></div>
</div>
</div>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-6 col-12'>
        <div class='copyright'>
          <p>Copyright © 2019. RUNTEQ</p>
        </div>
      </div>
    </div>
  </div>
</footer>